*,
*::after,
*::before {
    box-sizing: border-box;
}

ul {
    margin: 0;
    list-style: none;
}

li {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Charis SIL', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin-right: 70px;
}

.menuList {
    display: flex;
}

.menuItem + .menuItem{
    padding-left: 10px;
}

.menuLink {
    text-transform: uppercase;
    padding: 50px 20px;
    transition: all .3s;
}

.menuLink:hover {
    background-color: #131313;
    color: white;
}

.video {
    padding: 100px 0 150px;
}

.videoInner {
    display: flex;
    justify-content: space-between;
}

.videoSliderColumn {
    flex-basis: 630px;
    margin-left: 30px;
    max-width: 630px;
}

.videoTitle {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    margin: 60px 0 5px;
}

.videoSubtitle {
    margin: 0 0 60px;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #6f6f6f;
}

.videoText {
    max-width: 420px;
    margin-bottom: 20px;
}

.videoLink {
    margin-top: 80px;
    display: inline-block;
    background-color: #131313;
    color: white;
    padding: 28px 81px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em;
}

.videoSlider .slick-dots {
    right: 0;
    top: 50px;
}

.slick-dots {
    position: absolute;
}

.slick-dots li + li {
    padding-top: 10px;
}

.slick-dots button {
    font-size: 0;
    padding: 0;
    border: none;
    background-color: #131313;
    width: 2px;
    height: 25px;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
}

.slick-dots button:hover,
.slick-active button {
    background-color: #ff4040;
}

.videoList {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.videoListItem {
    min-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 58px;
}

.videoListNum {
    font-weight: 700;
    text-transform: uppercase;
}

.videoListText {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: auto 0;
}