*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul {
    margin: 0;
    list-style: none;
}

li {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Charis SIL', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin-right: 70px;
}

.menuList {
    display: flex;
}

.menuItem + .menuItem{
    padding-left: 10px;
}

.menuLink {
    text-transform: uppercase;
    padding: 50px 20px;
    transition: all .3s;
}

.menuLink:hover {
    background-color: #131313;
    color: white;
}

.video {
    padding: 100px 0 150px;
}

.videoInner {
    display: flex;
    justify-content: space-between;
}

.videoSliderColumn {
    flex-basis: 630px;
    margin-left: 30px;
    max-width: 630px;
}

.videoTitle {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    margin: 60px 0 5px;
}

.videoSubtitle {
    margin: 0 0 60px;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #6f6f6f;
}

.videoText {
    max-width: 420px;
    margin-bottom: 20px;
}

.videoLink {
    margin-top: 80px;
    display: inline-block;
    background-color: #131313;
    color: white;
    padding: 28px 81px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em;
}

.videoLink:hover {
    background-color:#ff4040;
    color: black;
    transition: all .3s;
}

.videoSlider .slick-dots {
    right: 0;
    top: 50px;
}

.slick-dots {
    position: absolute;
}

.slick-dots li + li {
    padding-top: 10px;
}

.slick-dots button {
    font-size: 0;
    padding: 0;
    border: none;
    background-color: #131313;
    width: 2px;
    height: 25px;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
}

.slick-dots button:hover,
.slick-active button {
    background-color: #ff4040;
}

.videoList {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.videoListItem {
    min-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 58px;
}

.videoListNum {
    font-weight: 700;
    text-transform: uppercase;
}

.videoListText {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: auto 0;
}

.info {
    margin-bottom: 150px;
}

.infoInner {
    display: flex;
}

.infoImg {
    margin-right: 60px;
    flex-basis: 570px;
}

.infoList {
    flex-basis: 490px;
}

.infoItem + .infoItem {
    padding-top: 140px;
}

.infoItemTitle {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.infoText {
    max-width: 450px;
}

.price {
    margin-bottom: 100px;
}

.form {
    max-width: 420px;
}

.formTitle {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 19px;
    text-transform: uppercase;
}

.formText {
    font-size: 30px;
}

.formInputName,
.formInputPhone {
    width: 100%;
    border: none;
    border-bottom: 1px solid #131313;
    padding-bottom: 10px;
    margin-bottom: 20px;
    outline: none;
}

.formInputText {
    width: 100%;
    margin-top: 20px;
    border: none;
    display: inline-block;
    background-color: #131313;
    color: white;
    padding: 28px 81px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em;
}

.formInputText:hover {
    background-color: #ff4040;
    color: #131313;
    transition: all .3s;
}

.footer {
    background-color: #131313;
}

.footerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}

.footerLink {
    color: #fff;
    font-size: 12px;
    line-height: 15px;
}

.footerSocialLink + .footerSocialLink {
    margin-left: 26px;
}

.footerContacts {
    color: #fff;
    font-size: 12px;
    line-height: 15px;
}

.footerContactsLink {
    display: flex;
}

.footerContactsLink + .footerContactsLink {
    margin-top: 10px;
}

.footerContactsImg {
    margin-right: 10px;
}

.footerContactsLogo {
    margin-right: 10px;
}

.policyInner > h1{
    text-align: center;
    padding-bottom: 20px;
}

.policyInner {
    margin: 50px 50px 50px 50px;
    padding: 50px 50px 50px 50px;
    border: #6f6f6f 1px solid;
}



@media (max-width: 990px) {
    .menu {
        margin-right: 0;
    }
}

@media (max-width: 640px) {
    .headerInner {
        display: block;
        text-align: center;
    }
    .menu {
        margin-top: 50px;
    }
    .menuList {
        justify-content: space-evenly;
    }
    .menuItem + .menuItem {
        padding-left: 0;
    }
    .menuLink {
        padding: 25px 20px;
    }
}

@media (max-width: 460px) {
    .menuList {
        justify-content: space-between;
    }
    .menuLink {
        padding: 25px 0;
    }
}