*,
*::after,
*::before {
    box-sizing: border-box;
}

ul {
    margin: 0;
    list-style: none;
}

li {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Charis SIL', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin-right: 70px;
}

.menuList {
    display: flex;
}

.menuItem + .menuItem{
    padding-left: 10px;
}

.menuLink {
    text-transform: uppercase;
    padding: 50px 20px;
    transition: all .3s;
}

.menuLink:hover {
    background-color: #131313;
    color: white;
}